[MASTER]
# Specify a comma-separated list of plugins to load, which may be
# specific to the local installation.
# load-plugins=

[MESSAGES CONTROL]
# Disable the message, such as "missing-module-docstring" or "line-too-long"
# To see a list of all messages, use --list-msgs
disable=
    C0301, # line-too-long - Pylint за замовчуванням 100, ми використовуємо 120, тому відключаємо
    R0903, # too-few-public-methods
    R0902, # too-many-instance-attributes

# Enable the message, such as "missing-module-docstring" or "line-too-long"
# To see a list of all messages, use --list-msgs
# enable=
#     C0114, # missing-module-docstring
#     C0115, # missing-class-docstring
#     C0116, # missing-function-docstring
    # Ми додамо їх вручну, тому Pylint не буде їх пропускати, і ми будемо їх бачити, якщо пропустимо.

[BASIC]
# Maximum number of characters on a line.
max-line-length=120

[FORMAT]
# Number of spaces before an inline comment.
inline-comment-space=2

[IMPORTS]
# Allow importing from extensions (usually C extensions) that are not
# known to pylint. This is useful for packages like PySide6 where Pylint
# sometimes struggles to find members.
extension-pkg-whitelist=PySide6